<template>
    <header class="c-navbar">
        <button class="c-sidebar-toggle js-sidebar-toggle">
            <i class="feather icon-align-left"></i>
        </button>

        <h2 class="c-navbar__title">Личный кабинет</h2>

        <div class="c-notification u-mr-xsmall">
            <a @click.prevent="$modal.show('voucher')">
                <i class="c-notification__icon feather icon-plus"></i>
            </a>
        </div>

        <div class="c-dropdown dropdown">
            <div class="c-avatar c-avatar--xsmall dropdown-toggle" id="dropdownMenuAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                <img class="c-avatar__img" src="https://klooway.com/wp-content/uploads/2018/09/2018-09-28-00.36.30-e1538084651197-300x300.jpg" alt="Adam Sandler">
            </div>
            <div class="c-dropdown__menu has-arrow dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuAvatar">
                <nuxt-link :to="{ name: 'settings' }" class="c-dropdown__item dropdown-item" href="#">Редактировать профиль</nuxt-link>
                <nuxt-link :to="{ name: 'settings-security' }" class="c-dropdown__item dropdown-item">Сменить пароль</nuxt-link>
                <a class="c-dropdown__item dropdown-item" @click.prevent="logout()">Выйти</a>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        methods: {
            async logout(){
                await this.$auth.logout()
                    .then(() => {
                        this.$router.replace('/login')
                    })
            }
        }
    }
</script>