<template>
    <div class="container pt-15">

        <div class="row">
            <div class="col-12">

                <div class="o-line">
                    <div class="u-mb-small"><h3>Баланс</h3></div>
                    <div class="u-mb-small">
                        <a class="c-btn c-btn--warning c-btn--small" @click.prevent="refreshBalance">
                            Обновить
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 u-mb-medium">
                <div class="c-table-responsive@wide">
                    <table class="c-table">
                        <thead class="c-table__head">
                        <tr class="c-table__row">
                            <th class="c-table__cell c-table__cell--head">Валюта</th>
                            <th class="c-table__cell c-table__cell--head">Сумма</th>
                            <th class="c-table__cell c-table__cell--head">Неактивные</th>
                            <th class="c-table__cell c-table__cell--head u-text-right">Действие</th>
                        </tr>
                        </thead>

                        <tbody>
                            <tr class="c-table__row">
                                <td class="c-table__cell">
                                    <div class="o-media">
                                        <div class="o-media__body">
                                            <h6>USDT</h6>
                                        </div>
                                    </div>
                                </td>
                                <td class="c-table__cell">{{ balance.total_ready_for_pay_amounts.usd }}</td>
                                <td class="c-table__cell">{{ balance.total_hold_amounts.usd }}</td>
                                <td class="c-table__cell u-text-right">
                                    <a class="c-btn c-btn--info" @click.prevent="$modal.show('voucher')">Пополнить</a>
                                </td>
                            </tr>

                            <tr class="c-table__row">
                                <td class="c-table__cell">
                                    <div class="o-media">
                                        <div class="o-media__body">
                                            <h6>BTC</h6>
                                        </div>
                                    </div>
                                </td>
                                <td class="c-table__cell">{{ balance.total_ready_for_pay_amounts.btc }}</td>
                                <td class="c-table__cell">{{ balance.total_hold_amounts.btc }}</td>
                                <td class="c-table__cell u-text-right">
                                    <a class="c-btn c-btn--info" @click.prevent="$modal.show('wallet', { currency: 'BTC', wallet: '1HsuqczvAz6do82CdwFhXCSabfKQmYfg3W' })">Пополнить</a>
                                </td>
                            </tr>

                            <tr class="c-table__row">
                                <td class="c-table__cell">
                                    <div class="o-media">
                                        <div class="o-media__body">
                                            <h6>ETH</h6>
                                        </div>
                                    </div>
                                </td>
                                <td class="c-table__cell">{{ balance.total_ready_for_pay_amounts.eth }}</td>
                                <td class="c-table__cell">{{ balance.total_hold_amounts.eth }}</td>
                                <td class="c-table__cell u-text-right">
                                    <a class="c-btn c-btn--info" @click.prevent="$modal.show('wallet', { currency: 'ETH', wallet: '0xdcc9911b7e1098c23e7e46dcf2dbc800b3018544' })">Пополнить</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="row u-mb-large">
            <div class="col-12">
                <h3 class="u-mb-small">Цифровые активы</h3>
            </div>
            <div class="col-12 u-mb-medium">

                <div class="c-table-responsive@wide">
                    <table class="c-table">
                        <thead class="c-table__head">
                        <tr class="c-table__row">
                            <th class="c-table__cell c-table__cell--head">Проект</th>
                            <th class="c-table__cell c-table__cell--head">Заморожены</th>
                            <th class="c-table__cell c-table__cell--head">Доступны</th>
                            <th class="c-table__cell c-table__cell--head u-text-right">Действие</th>
                        </tr>
                        </thead>

                        <tbody>
                            <tr class="c-table__row" v-for="(token, key, index) in balance.total_tokens_hold_amounts">
                                <td class="c-table__cell">
                                    <div class="o-media">
                                        <div class="o-media__body">
                                            <h6>{{ key }}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td class="c-table__cell">{{ token }}</td>
                                <td class="c-table__cell">{{ balance.total_tokens_ready_for_pay_amounts[key] }}</td>
                                <td class="c-table__cell u-text-right">
                                    <button class="c-btn c-btn--info" :disabled="!withdrawReady(balance.total_tokens_ready_for_pay_amounts[key])">Вывести токены</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import AppProjectsTopNavigation from '@/components/nav/AppProjectsTopNavigation.vue'

    export default {
        components: {
            AppProjectsTopNavigation
        },
        layout: 'app',
        data () {
            return {
                balance: null
            }
        },
        methods: {
            withdrawReady(value){
                return ( value > 0)
            },
            async refreshBalance() {
                console.log('refreshing...')
                await this.$axios.get('balance')
                    .then((response) => {
                        this.balance = response.data
                    })
            }
        },
        async asyncData ({ app }) {
            let data = await app.$axios.$get('balance')

            return {
                balance: data
            }
        }
    }
</script>