<template>
    <div class="o-page__sidebar js-page-sidebar">
        <aside class="c-sidebar">

            <div class="c-sidebar__brand">
                <span style="font-weight: 700;letter-spacing: 1px;">KLOOWAY</span>
            </div>

            <!-- Scrollable -->
            <div class="c-sidebar__body">
                <span class="c-sidebar__title">Кабинет инвестора</span>
                <ul class="c-sidebar__list">
                    <li>
                        <nuxt-link :to="{ name: 'index' }" class="c-sidebar__link">
                            <i class="c-sidebar__icon feather icon-home"></i>Главная
                        </nuxt-link>
                    </li>
                </ul>

                <span class="c-sidebar__title">Разделы</span>
                <ul class="c-sidebar__list">
                    <li>
                        <nuxt-link :to="{ name: 'projects' }" class="c-sidebar__link">
                            <i class="c-sidebar__icon feather icon-briefcase"></i>Проекты
                        </nuxt-link>
                    </li>
                    <li>
                        <nuxt-link :to="{ name: 'buy' }" class="c-sidebar__link">
                            <i class="c-sidebar__icon feather icon-activity"></i>Покупка токенов
                        </nuxt-link>
                    </li>
                    <li>
                        <nuxt-link :to="{ name: 'withdraw' }" class="c-sidebar__link">
                            <i class="c-sidebar__icon feather icon-activity"></i> Вывод токенов
                        </nuxt-link>
                    </li>
                    <li>
                        <nuxt-link :to="{ name: 'balance' }" class="c-sidebar__link">
                            <i class="c-sidebar__icon feather icon-credit-card"></i>Баланс
                        </nuxt-link>
                    </li>
                    <li>
                        <nuxt-link :to="{ name: 'history' }" class="c-sidebar__link">
                            <i class="c-sidebar__icon feather icon-align-justify"></i>Транзакции
                        </nuxt-link>
                    </li>
                    <li>
                        <nuxt-link :to="{ name: 'referral' }" class="c-sidebar__link">
                            <i class="c-sidebar__icon feather icon-users"></i>Реферальная система
                        </nuxt-link>
                    </li>
                    <!--<li>-->
                        <!--<nuxt-link :to="{ name: 'account' }" class="c-sidebar__link">-->
                            <!--<i class="c-sidebar__icon feather icon-user"></i>Аккаунт-->
                        <!--</nuxt-link>-->
                    <!--</li>-->
                    <li>
                        <nuxt-link :to="{ name: 'settings' }" class="c-sidebar__link">
                            <i class="c-sidebar__icon feather icon-settings"></i>Настройки
                        </nuxt-link>
                    </li>
                    <!--<li>-->
                        <!--<nuxt-link :to="{ name: 'faq' }" class="c-sidebar__link">-->
                            <!--<i class="c-sidebar__icon feather icon-info"></i>FAQ-->
                        <!--</nuxt-link>-->
                    <!--</li>-->
                </ul>
            </div>

            <a class="c-sidebar__footer" href="#" @click.prevent="logout()">Выход <i class="c-sidebar__footer-icon feather icon-power"></i></a>

        </aside>
    </div>
</template>

<script>
    export default {
        methods: {
            async logout(){
                await this.$auth.logout()
                    .then(() => {
                        this.$router.replace('/login')
                    })
            }
        }
    }
</script>