<template>
    <div class="container pt-15">
        <div class="row">
            <div class="col-12">
                <h3 class="u-mb-small">Реферальная система</h3>
            </div>
            <div class="col-md-4">
                <div class="c-state-card c-state-card--info">
                    <h4 class="c-state-card__title">Приглашенных друзей</h4>
                    <span class="c-state-card__number">{{ affiliate.usersInFirsLayer }}</span>
                    <p class="c-state-card__status">
                        <i class="feather icon-trending-up"></i> На 1 уровне
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="c-state-card c-state-card--success">
                    <h4 class="c-state-card__title">Всего приглашенных</h4>
                    <span class="c-state-card__number">{{ referrals.count }}</span>
                    <p class="c-state-card__status">
                        Все уровни
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="c-state-card c-state-card--fancy">
                    <h4 class="c-state-card__title">Комиссионный баланс</h4>
                    <span class="c-state-card__number">{{ decimals(affiliate.bonusesSum) }} USDT</span>
                    <p class="c-state-card__status">
                        Общий баланс по реферальной системе
                    </p>
                    <div class="c-state-card__actions dropdown">
                      <span class="dropdown-toggle" id="dropdownMenuState3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                        <i class="feather icon-more-vertical"></i>
                      </span>
                        <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuState3">
                            <a class="c-dropdown__item dropdown-item" href="#">Вывести</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">

            <div class="col-md-8 u-mb-medium">
                <div class="c-card">
                    <h4>Реферальная ссылка</h4>
                    <p class="u-mb-medium">Распространяйте уникальную ссылку среди Ваших друзей и зарабатывайте.</p>
                    <div class="c-field u-mb-small has-icon-right">
                        <label class="c-field__label" for="input13">Уникальная ссылка</label>
                        <input class="c-input" type="text" :value="'https://klooway.com/invite/' + user.invite_code" readonly>
                    </div>
                    <div class="c-field u-mb-medium">
                        <label class="c-field__label" for="input13">Инвайт-код</label>
                        <input class="c-input" type="text" id="input13" :value="user.invite_code" readonly>
                    </div>
                    <p class="u-mb-medium">Поделиться ссылкой в социальных сетях</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="c-card" data-mh="dashboard3-cards">
                    <h4>Последние активности</h4>
                    <p class="u-mb-medium">Ваши бонусные начисления за последнее время.</p>
                    <div class="c-feed">
                        <div class="c-feed__item" v-for="item in items.limit">
                            <p>{{ defineTranslation(item.bonusType) }}: {{ item.amount }} {{ currency(item.currency) }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h3 class="u-mb-small">Обзор</h3>

                <nav class="c-tabs">
                    <div class="c-tabs__list nav nav-tabs" id="myTab" role="tablist">
                        <a class="c-tabs__link active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">Все приглашенные</a>
                        <a class="c-tabs__link" id="nav-first-tab" data-toggle="tab" href="#nav-first" role="tab" aria-controls="nav-first" aria-selected="false">1 круг</a>
                        <a class="c-tabs__link" id="nav-second-tab" data-toggle="tab" href="#nav-second" role="tab" aria-controls="nav-second" aria-selected="false">2 круг</a>
                        <a class="c-tabs__link" id="nav-third-tab" data-toggle="tab" href="#nav-third" role="tab" aria-controls="nav-third" aria-selected="false">3 круг</a>
                        <a class="c-tabs__link" id="nav-fourth-tab" data-toggle="tab" href="#nav-fourth" role="tab" aria-controls="nav-fourth" aria-selected="false">4 круг</a>
                        <a class="c-tabs__link" id="nav-fifth-tab" data-toggle="tab" href="#nav-fifth" role="tab" aria-controls="nav-fifth" aria-selected="false">5 круг</a>
                        <a class="c-tabs__link" id="nav-sixth-tab" data-toggle="tab" href="#nav-sixth" role="tab" aria-controls="nav-sixth" aria-selected="false">6 круг</a>
                        <a class="c-tabs__link" id="nav-seventh-tab" data-toggle="tab" href="#nav-seventh" role="tab" aria-controls="nav-seventh" aria-selected="false">7 круг</a>
                    </div>

                    <div class="c-tabs__content tab-content" id="nav-tabContent">

                        <div class="c-tabs__pane active p-0" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                            <table class="c-table">
                                <thead class="c-table__head">
                                <tr class="c-table__row">
                                    <th class="c-table__cell c-table__cell--head">Событие</th>
                                    <th class="c-table__cell c-table__cell--head">Круг</th>
                                    <th class="c-table__cell c-table__cell--head">Доход</th>
                                    <th class="c-table__cell c-table__cell--head">Дата</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr class="c-table__row" v-for="item in data.all">
                                        <td class="c-table__cell">{{ defineTranslation(item.bonusType) }}</td>
                                        <td class="c-table__cell">{{ item.mlm_level }}</td>
                                        <td class="c-table__cell" :class="defineColorClass(item.bonusType)">{{ decimals(item.amount) }} USDT</td>
                                        <td class="c-table__cell">{{ item.created_at | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="c-tabs__pane p-0" id="nav-first" role="tabpanel" aria-labelledby="nav-first-tab">
                            <table class="c-table">
                                <thead class="c-table__head">
                                    <tr class="c-table__row">
                                        <th class="c-table__cell c-table__cell--head">Событие</th>
                                        <th class="c-table__cell c-table__cell--head">Круг</th>
                                        <th class="c-table__cell c-table__cell--head">Доход</th>
                                        <th class="c-table__cell c-table__cell--head">Дата</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="c-table__row" v-for="item in data.first">
                                        <td class="c-table__cell">{{ defineTranslation(item.bonusType) }}</td>
                                        <td class="c-table__cell">{{ item.mlm_level }}</td>
                                        <td class="c-table__cell" :class="defineColorClass(item.bonusType)">{{ decimals(item.amount) }} USDT</td>
                                        <td class="c-table__cell">{{ item.created_at | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="c-tabs__pane p-0" id="nav-second" role="tabpanel" aria-labelledby="nav-second-tab">
                            <table class="c-table">
                                <thead class="c-table__head">
                                <tr class="c-table__row">
                                    <th class="c-table__cell c-table__cell--head">Событие</th>
                                    <th class="c-table__cell c-table__cell--head">Круг</th>
                                    <th class="c-table__cell c-table__cell--head">Доход</th>
                                    <th class="c-table__cell c-table__cell--head">Дата</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="c-table__row" v-for="item in data.second">
                                    <td class="c-table__cell">{{ defineTranslation(item.bonusType) }}</td>
                                    <td class="c-table__cell">{{ item.mlm_level }}</td>
                                    <td class="c-table__cell" :class="defineColorClass(item.bonusType)">{{ decimals(item.amount) }} USDT</td>
                                    <td class="c-table__cell">{{ item.created_at | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="c-tabs__pane p-0" id="nav-third" role="tabpanel" aria-labelledby="nav-third-tab">
                            <table class="c-table">
                                <thead class="c-table__head">
                                <tr class="c-table__row">
                                    <th class="c-table__cell c-table__cell--head">Событие</th>
                                    <th class="c-table__cell c-table__cell--head">Круг</th>
                                    <th class="c-table__cell c-table__cell--head">Доход</th>
                                    <th class="c-table__cell c-table__cell--head">Дата</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="c-table__row" v-for="item in data.third">
                                    <td class="c-table__cell">{{ defineTranslation(item.bonusType) }}</td>
                                    <td class="c-table__cell">{{ item.mlm_level }}</td>
                                    <td class="c-table__cell" :class="defineColorClass(item.bonusType)">{{ decimals(item.amount) }} USDT</td>
                                    <td class="c-table__cell">{{ item.created_at | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="c-tabs__pane p-0" id="nav-fifth" role="tabpanel" aria-labelledby="nav-fifth-tab">
                            <table class="c-table">
                                <thead class="c-table__head">
                                <tr class="c-table__row">
                                    <th class="c-table__cell c-table__cell--head">Событие</th>
                                    <th class="c-table__cell c-table__cell--head">Круг</th>
                                    <th class="c-table__cell c-table__cell--head">Доход</th>
                                    <th class="c-table__cell c-table__cell--head">Дата</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="c-table__row" v-for="item in data.fifth">
                                    <td class="c-table__cell">{{ defineTranslation(item.bonusType) }}</td>
                                    <td class="c-table__cell">{{ item.mlm_level }}</td>
                                    <td class="c-table__cell" :class="defineColorClass(item.bonusType)">{{ decimals(item.amount) }} USDT</td>
                                    <td class="c-table__cell">{{ item.created_at | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="c-tabs__pane p-0" id="nav-sixth" role="tabpanel" aria-labelledby="nav-sixth-tab">
                            <table class="c-table">
                                <thead class="c-table__head">
                                <tr class="c-table__row">
                                    <th class="c-table__cell c-table__cell--head">Событие</th>
                                    <th class="c-table__cell c-table__cell--head">Круг</th>
                                    <th class="c-table__cell c-table__cell--head">Доход</th>
                                    <th class="c-table__cell c-table__cell--head">Дата</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="c-table__row" v-for="item in data.sixth">
                                    <td class="c-table__cell">{{ defineTranslation(item.bonusType) }}</td>
                                    <td class="c-table__cell">{{ item.mlm_level }}</td>
                                    <td class="c-table__cell" :class="defineColorClass(item.bonusType)">{{ decimals(item.amount) }} USDT</td>
                                    <td class="c-table__cell">{{ item.created_at | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="c-tabs__pane p-0" id="nav-seventh" role="tabpanel" aria-labelledby="nav-seventh-tab">
                            <table class="c-table">
                                <thead class="c-table__head">
                                <tr class="c-table__row">
                                    <th class="c-table__cell c-table__cell--head">Событие</th>
                                    <th class="c-table__cell c-table__cell--head">Круг</th>
                                    <th class="c-table__cell c-table__cell--head">Доход</th>
                                    <th class="c-table__cell c-table__cell--head">Дата</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="c-table__row" v-for="item in data.seventh">
                                    <td class="c-table__cell">{{ defineTranslation(item.bonusType) }}</td>
                                    <td class="c-table__cell">{{ item.mlm_level }}</td>
                                    <td class="c-table__cell" :class="defineColorClass(item.bonusType)">{{ decimals(item.amount) }} USDT</td>
                                    <td class="c-table__cell">{{ item.created_at | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </nav>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        layout: 'app',
        components: {

        },
        data() {
            return {
                affiliate: null,
                referrals: {
                    count: null,
                },
                data: null,
                items: null,
                user: null
            }
        },
        async asyncData ({ app }) {
            let fetchAffiliate = await app.$axios.$get('affiliate')
            let count = await app.$axios.$get('affiliate/count')
            let data = await app.$axios.$get('affiliate/all')

            let limit = await app.$axios.$get('transactions/limit')
            let auth = await app.$axios.$get('auth/user')

            return {
                affiliate: fetchAffiliate,
                referrals: {
                    count: count
                },
                data: data,
                items: limit,
                user: auth.user
            }
        }
    }
</script>