<template>
    <div class="container pt-15">
        <div class="row u-mb-xlarge">
            <div class="col-md-8">
                <div class="c-tabs">

                    <nav class="c-tabs__list nav nav-tabs" id="myTab" role="tablist">
                        <a class="c-tabs__link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Описание</a>
                        <a class="c-tabs__link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Презентация</a>
                        <a class="c-tabs__link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Купить токен</a>
                    </nav>

                    <div class="c-tabs__content tab-content" id="nav-tabContent">
                        <div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="u-mb-small" v-html="campaign.description"></div>
                        </div>

                        <div class="c-tabs__pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <iframe width="100%" height="380px" id="videoiframe" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" src="https://planex.io/Planex_rus_1.2.25.pdf"></iframe>
                        </div>

                        <div class="c-tabs__pane" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <div class="row">
                                <div class="col-lg-6 u-mb-xsmall">
                                    <label class="c-field__label" for="input1">Валюта для оплаты</label>
                                    <div class="c-select">
                                        <select class="c-select__input">
                                            <option>USDT</option>
                                            <option>RUB</option>
                                            <option>BTC</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label class="c-field__label" for="input1">Проект</label>
                                    <input class="c-input" type="text" value="PlanEx" disabled>
                                </div>
                            </div>
                            <div class="row u-mb-xsmall">
                                <div class="col-lg-6 u-mb-xsmall">
                                    <label class="c-field__label" for="input1">Сумма инвестирования</label>
                                    <input class="c-input" type="text" value="0">
                                </div>
                                <div class="col-lg-6">
                                    <label class="c-field__label" for="input1">Количество токенов</label>
                                    <input class="c-input" type="text" value="0">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 u-mb-xsmall u-text-right">
                                    <label class="c-field__label" for="input1">Бонус при покупке</label>
                                    <h3>492 XPX</h3>
                                </div>
                                <div class="col-lg-6 u-mb-xsmall u-text-right">
                                    <label class="c-field__label" for="input1">Токенов к зачислению</label>
                                    <h3>1492 XPX</h3>
                                </div>
                            </div>
                            <span class="c-divider u-mv-small"></span>
                            <div class="row">
                                <div class="col-lg-12 u-text-right">
                                    <label class="c-field__label" for="input1">К оплате</label>
                                    <h2 class="u-mb-small">492 USDT</h2>
                                    <button class="c-btn c-btn--success" data-toggle="modal" data-target="#modal1">Произвести покупку</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="c-card">
                    <div class="u-text-center">
                        <div class="c-avatar c-avatar--large u-mb-small u-inline-flex">
                            <img class="c-avatar__img" :src="`https://api2.klooway.com/${campaign.icon}`">
                        </div>

                        <h5>{{ campaign.name }}</h5>
                        <p>{{ campaign.ICO.coinName }}</p>
                    </div>

                    <span class="c-divider u-mv-small"></span>

                    <span class="c-text--subtitle">Цена токена</span>
                    <p class="u-mb-small u-text-large">{{ campaign.ICO.coinCcy }} {{ campaign.ICO.coinPrice }}</p>

                    <span class="c-text--subtitle">Адрес проекта</span>
                    <p class="u-mb-small"><a class="u-text-large" :href="campaign.websiteLink">{{ campaign.websiteLink }}</a></p>

                    <p class="u-mb-small"><a class="c-btn c-btn--info" :href="campaign.ICO.whitePaperLink">Whitepaper</a></p>

                    <span class="c-text--subtitle">Hard Cap</span>
                    <p class="u-mb-small u-text-large">{{ invested(campaign.ICO.hardCap) }}</p>

                    <span class="c-text--subtitle">Soft Cap</span>
                    <p class="u-mb-small u-text-large">{{ invested(campaign.ICO.softCap) }}</p>

                    <span class="c-text--subtitle">Период проведения</span>
                    <p class="u-mb-small u-text-large">{{ campaign.ICO.startDate | moment("DD-MM-YYYY") }} – {{ campaign.ICO.endDate | moment("DD-MM-YYYY") }}</p>

                    <span class="c-text--subtitle">Страна проведения</span>
                    <p class="u-mb-small u-text-large">{{ campaign.country }}</p>


                    <span class="c-divider u-mv-small"></span>
                    <span class="c-text--subtitle u-block ">Всего инвестировано</span>
                    <h3>{{ invested(campaign.invested) }}</h3>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        layout: 'app',
        data () {
            return {
                campaign: null
            }
        },
        async asyncData({ app, params }) {
            let data = await app.$axios.$get(`campaigns/fetch/${ params.id }`)
            return {
                campaign: data.campaign[0]
            }
        }
    }
</script>