<template>
    <div>
        <AppProjectsTopNavigation></AppProjectsTopNavigation>
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-md-4" v-for="campaign in campaigns">
                    <nuxt-link :to="{ name: 'projects-id', params: { id: campaign.uuid } }">
                        <div class="c-card is-animated">
                            <div class="c-avatar u-inline-flex u-mb-small">
                                <img class="c-avatar__img" :src="'https://api2.klooway.com'+campaign.icon" alt="">
                            </div>
                            <h4>{{ campaign.name }}</h4>
                            <p class="u-pb-small u-mb-small u-border-bottom">{{ campaign.company }}</p>
                            <p class="u-pb-small u-mb-small">{{ campaign.ICO.project.shortDescription }}</p>
                            <h3>{{ invested(campaign.ICO.project.invested) }}</h3>
                        </div>
                    </nuxt-link>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import AppProjectsTopNavigation from '@/components/nav/AppProjectsTopNavigation.vue'

    export default {
        components: {
            AppProjectsTopNavigation
        },
        layout: 'app',
        data () {
          return {
              campaigns: null
          }
        },
        async asyncData ({ app }) {
            let data = await app.$axios.$get('campaigns/fetch-active')

            return {
                campaigns: data.active
            }
        }
    }
</script>