<template>
    <div class="container pt-15">
        <div class="row">
            <div class="col-12">
                <h3 class="u-mb-small">Покупка токенов</h3>
            </div>
            <div class="col-md-7">
                <nav class="c-tabs">
                    <div class="c-tabs__content tab-content" id="nav-tabContent">

                        <div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <form>
                                <div class="row">
                                    <div class="col-lg-6 u-mb-medium">
                                        <label class="c-field__label">Валюта оплаты</label>
                                        <div class="c-select">
                                            <select class="c-select__input" v-model="selected_currency" @change="selectCurrencyEvent(selected_currency)">
                                                <option value="usd">{{ currency('usd') }}</option>
                                                <option value="btc">{{ currency('btc') }}</option>
                                                <option value="eth">{{ currency('eth') }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 u-mb-medium">
                                        <label class="c-field__label">Проект</label>
                                        <div class="c-select">
                                            <select class="c-select__input" v-model="selected_token" @change="selectTokenEvent()">
                                                <option v-for="(ico, index) in calculator" v-bind:value="ico">{{ ico.project.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row u-mb-xsmall">
                                    <div class="col-lg-6 u-mb-xsmall">
                                        <label class="c-field__label" for="currencyInput">Сумма инвестирования</label>
                                        <input
                                                class="c-input"
                                                id="currencyInput"
                                                placeholder="Введите сумму"
                                                name="currency_sum"
                                                type="number"
                                                v-model="purchase.currency_sum"
                                                v-on:change="sumChangedEvent"
                                                v-on:keydown.enter.prevent="sumChangedEvent"
                                                :disabled="disabled"
                                                v-validate="'required|min:1'"
                                        >
                                        <small class="c-field__message u-color-danger" v-show="errors.has('currency_sum')"><i class="fa fa-times-circle"></i><span v-html=" errors.first('currency_sum')"></span></small>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="c-field u-mb-small">
                                            <label class="c-field__label" for="tokenInput">Количество токенов</label>
                                            <input
                                                    class="c-input"
                                                    id="tokenInput"
                                                    placeholder="Введите количество"
                                                    type="number"
                                                    name="tokens_amount"
                                                    :disabled="disabled"
                                                    v-model="purchase.tokens_amount"
                                                    v-on:input="tokenChangedEvent"
                                                    v-on:keydown.enter.prevent="tokenChangedEvent"
                                                    v-validate="'required|min_value:1'"
                                            >
                                            <small class="c-field__message u-color-danger" v-show="errors.has('tokens_amount')"><i class="fa fa-times-circle"></i><span v-html=" errors.first('tokens_amount')"></span></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 u-mb-xsmall u-text-right">
                                        <label class="c-field__label">Бонус при покупке</label>
                                        <h3>{{ bonus_amount }} {{ purchase.token }}</h3>
                                    </div>
                                    <div class="col-lg-6 u-mb-xsmall u-text-right">
                                        <label class="c-field__label">Токенов к зачислению</label>
                                        <h3>{{ tokens_total }} {{ purchase.token }}</h3>
                                    </div>
                                </div>
                                <span class="c-divider u-mv-small"></span>
                                <div class="row">
                                    <div class="col-lg-12 u-text-right">
                                        <label class="c-field__label">К оплате</label>
                                        <h2 class="u-mb-small">{{ purchase.currency_sum }} {{ currency(purchase.currency) }}</h2>
                                        <button class="c-btn c-btn--success" @click.prevent="validateBeforeBuyTokensSubmit">Произвести покупку</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="col-md-5">
                    <div class="c-card">
                        <div class="u-text-center">
                            <div class="c-avatar c-avatar--large u-mb-small u-inline-flex">
                                <img class="c-avatar__img" :src="'https://api2.klooway.com/storage/'+selected_token.project.icon" alt="Avatar">
                            </div>
                            <h5><a href="#">{{ selected_token.project.name }}</a></h5>
                            <p>{{ selected_token.coinSymbol }}</p>
                        </div>

                        <span class="c-divider u-mv-small"></span>

                        <span class="c-text--subtitle">Цена токена</span>
                        <p class="u-mb-small u-text-large">{{ selected_token.coinPrice }} {{ selected_token.coinCcy }}</p>

                        <span class="c-text--subtitle">Адрес проекта</span>
                        <p class="u-mb-small u-text-large"><a :href="selected_token.project.websiteLink">{{ selected_token.project.websiteLink }}</a></p>
                        <p class="u-mb-small"><a class="c-btn c-btn--secondary" :href="selected_token.whitePaperLink">Whitepaper</a></p>

                        <span class="c-divider u-mv-small"></span>
                        <span class="c-text--subtitle u-block ">Всего инвестировано</span>
                        <h3>{{ invested(selected_token.project.invested) }}</h3>
                    </div>
            </div>
        </div>
        <AppConfirmTokenPurchase></AppConfirmTokenPurchase>
    </div>
</template>

<script>
    import AppConfirmTokenPurchase from '@/components/reusable/modals/AppConfirmTokenPurchase'
    import AppSuccessModal from '@/components/reusable/modals/AppSuccessModal'

    export default {
        components: {
            AppConfirmTokenPurchase,
            AppSuccessModal
        },
        layout: 'app',
        data() {
            return {
                balance: null,
                calculator: null,
                rates: null,

                disable: {
                    currency: true,
                    token: true
                },
                loading: {
                    refresh: false
                },

                selected_currency: null,
                selected_token: null,

                purchase: {
                    currency: '',
                    currency_max: 0,
                    currency_sum: 0,

                    token: '',
                    token_index: null,
                    token_currency: '',
                    token_price: 0,
                    tokens_max: 0,
                    tokens_amount: 0,

                    rate: null,
                    offer_id: '',

                    bonuses_ico: 0,
                    bonuses: 0,

                    button: false,
                    checkboxes: false
                }
            }
        },
        watch: {
            'purchase.currency_sum': function (val) {
                if (val > this.purchase.currency_max) {
                    this.purchase.currency_sum = this.purchase.currency_max
                } else if (val < 0) {
                    this.purchase.currency_sum = 0
                }
            },
            'purchase.tokens_amount': function (val) {
                if (val > this.tokens_max) {
                    this.purchase.tokens_amount = this.tokens_max
                } else if (val < 0) {
                    this.purchase.tokens_amount = 0
                }
            }
        },
        computed: {
            rate: function () {
                return this.rates[this.purchase.token_currency.toLowerCase()]/this.rates[this.purchase.currency.toLowerCase()];
            },
            price: function() {
                return this.purchase.token_price * this.rate;
            },
            tokens: function () {
                return this.purchase.currency_sum / this.price;
            },
            tokens_max: function () {
                return Math.floor(this.purchase.currency_max / this.price)
            },
            sum: function () {
                return this.price * this.purchase.tokens_amount;
            },
            bonus_amount: function () {
                let total_bonuses = this.purchase.bonuses + this.purchase.bonuses_ico;
                let result = Math.floor((this.purchase.tokens_amount / 100 ) * total_bonuses);
                if (result) {
                    return result
                } else {
                    return 0
                }
            },
            tokens_total: function () {
                let result = parseInt(this.purchase.tokens_amount) + parseInt(this.bonus_amount);
                if (result) {
                    return result
                } else {
                    return 0
                }
            },
            disabled: function () {
                if (!this.disable.currency) {
                    if (!this.disable.token) {
                        return false
                    } else {
                        return true
                    }
                } else {
                    return true
                }
            },
        },
        filters: {
            moment: function (date) {
                return moment(date).format('Do MMM YY, hh:mm:ss');
            },
            twoDecimal: function (val) {
                return val.toFixed(2)
            },
            eightDecimal: function (val) {
                return val.toFixed(8)
            }
        },
        methods: {
            sumChangedEvent() {
                this.purchase.tokens_amount = Math.floor(this.tokens);
                this.purchase.currency_sum = this.sum.toFixed(8);
            },
            tokenChangedEvent() {
                this.purchase.currency_sum = this.sum.toFixed(8);
            },

            validateBeforeBuyTokensSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.$modal.show('confirm', {
                            currency: this.purchase.currency,
                            offer_id: this.purchase.offer_id,
                            token_price: this.purchase.token_price,
                            token_currency: this.purchase.token_currency,
                            token_qty_with_bonuses: this.tokens_total,
                            currency_sum: this.purchase.currency_sum
                        })
                    }
                });
            },

            setMaximumSum() {
                // insert IF token selceted check
                this.purchase.currency_sum = this.purchase.currency_max;
                this.purchase.tokens_amount = Math.floor(this.tokens);
                this.purchase.currency_sum = this.sum.toFixed(8);
            },
            setMaximumToken() {
                this.purchase.tokens_amount = Math.floor(this.tokens_max)
                this.purchase.currency_sum = this.sum.toFixed(8)
            },
            selectCurrencyEvent(id){
                this.purchase.currency = id
                this.purchase.currency_max = this.balance.total_ready_for_pay_amounts[id]

                this.purchase.currency_sum = 0;
                this.purchase.tokens_amount = 0;

                this.disable.currency = false;
            },
            selectTokenEvent() {
                this.purchase.token = this.selected_token.coinName
                this.purchase.tokens_max = Math.floor(this.tokens);
                this.purchase.token_currency = this.selected_token.coinCcy
                this.purchase.token_price = this.selected_token.coinPrice
                this.purchase.bonuses = this.selected_token.bonusTokenPl
                this.purchase.bonuses_ico = this.selected_token.bonusTokenIco

                this.purchase.offer_id = this.selected_token.project.uuid

                this.purchase.currency_sum = 0;
                this.purchase.tokens_amount = 0;

                this.disable.token = false;
            },
            setupInputListener(id) {
                let i = document.getElementById(id)
                let invalidChars = [ "-", "+", "e"]

                i.addEventListener("input", function() {
                    this.value = this.value.replace(/[e\+\-]/gi, "")
                })

                i.addEventListener("keydown", function(e) {
                    if (invalidChars.includes(e.key)) {
                        e.preventDefault();
                    }
                })
            },
        },
        mounted() {
            this.selectTokenEvent()
            this.selectCurrencyEvent('usd')

            this.setupInputListener('currencyInput')
            this.setupInputListener('tokenInput')
        },
        async asyncData ({ app }) {
            let balance = await app.$axios.$get('balance')
            let calculator = await app.$axios.$get('rates/calculator')
            let rates = await app.$axios.$get('rates')

            return {
                balance: balance,
                calculator: calculator,
                rates: rates,
                selected_token: calculator[0],
                selected_currency: 'usd'
            }
        },
    }
</script>