<template>
    <div>
        <AppProjectsTopNavigation></AppProjectsTopNavigation>
    </div>
</template>

<script>
    import AppProjectsTopNavigation from '@/components/nav/AppProjectsTopNavigation.vue'

    export default {
        components: {
            AppProjectsTopNavigation
        },
        layout: 'app',
    }
</script>