<template>
    <div class="container pt-15">
        <div class="row">
            <div class="col-12">
                <h3 class="u-mb-small">Вывод токенов</h3>
            </div>
            <div class="col-md-7">
                <nav class="c-tabs">
                    <div class="c-tabs__content tab-content" id="nav-tabContent">

                        <div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <form>
                                <div class="row">
                                    <div class="col-md-6 u-mb-medium">
                                        <label class="c-field__label">Выбрать токен</label>
                                        <div class="c-select">
                                            <select class="c-select__input" v-model="selected" @change="selectTokenEvent()">
                                                <option v-for="(token, key, index) in tokens" v-bind:value="index" :selected="selected">{{ key }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="c-field u-mb-small">
                                            <label class="c-field__label" for="tokenInput">Количество токенов</label>
                                            <input
                                                    class="c-input"
                                                    id="tokenInput"
                                                    placeholder="Введите количество"
                                                    type="number"
                                                    name="tokens_amount"
                                                    v-model="withdraw.tokens_amount"
                                                    v-validate="'required|between:1,'+ withdraw.tokens_max">
                                            <small class="c-field__message u-color-danger" v-show="errors.has('tokens_amount')"><i class="fa fa-times-circle"></i><span v-html=" errors.first('tokens_amount')"></span></small>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="c-field u-mb-small">
                                            <label class="c-field__label" for="walletInput">Адрес личного кошелька ETH</label>
                                            <input
                                                    id="walletInput"
                                                    class="c-input"
                                                    type="text"
                                                    name="wallet"
                                                    v-model="withdraw.wallet"
                                                    maxlength="40"
                                                    v-validate="'required|min:40'">
                                            <small class="c-field__message u-color-danger" v-show="errors.has('wallet')"><i class="fa fa-times-circle"></i><span v-html=" errors.first('wallet')"></span></small>
                                        </div>
                                    </div>
                                </div>

                                <span class="c-divider u-mv-small"></span>
                                <div class="row">
                                    <div class="col-lg-12 u-text-right">
                                        <label class="c-field__label">К выводу</label>
                                        <h2 class="u-mb-small">{{ withdraw.tokens_amount }} {{ withdraw.tokens_name }}</h2>
                                        <button class="c-btn c-btn--success" @click.prevent="validateBeforeSubmit">Произвести вывод</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="col-md-5">
                <div class="c-card">
                    <div class="u-text-center">
                        <div class="c-avatar c-avatar--large u-mb-small u-inline-flex">
                            <img class="c-avatar__img" :src="'https://api2.klooway.com/storage/'+campaign.project.icon">
                        </div>
                        <h5><a href="#">{{ campaign.project.name }}</a></h5>
                        <p>{{ campaign.coinSymbol }}</p>
                    </div>

                    <span class="c-divider u-mv-small"></span>

                    <span class="c-text--subtitle">Цена токена</span>
                    <p class="u-mb-small u-text-large">{{ campaign.coinPrice }} {{ campaign.coinCcy }}</p>

                    <span class="c-text--subtitle">Адрес проекта</span>
                    <p class="u-mb-small u-text-large"><a :href="campaign.project.websiteLink">{{ campaign.project.websiteLink }}</a></p>
                    <p class="u-mb-small"><a class="c-btn c-btn--secondary" :href="campaign.whitePaperLink">Whitepaper</a></p>

                    <span class="c-divider u-mv-small"></span>
                    <span class="c-text--subtitle u-block ">Всего инвестировано</span>
                    <h3>{{ invested(campaign.project.invested) }}</h3>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import { pickBy, pick } from 'lodash'

    export default {
        layout: 'app',
        components: {

        },
        watch: {
            'withdraw.tokens_amount': function (val) {
                if (val > this.withdraw.tokens_max) {
                    this.withdraw.tokens_amount = this.withdraw.tokens_max
                } else if (val < 0) {
                    this.withdraw.tokens_amount = 0
                }
            },
            'withdraw.tokens_name': function (val) {
                 this.campaign = this.searchCampaign(val, this.campaigns)
            }
        },
        data() {
            return {
                balance: null,
                campaigns: null,

                selected: 0,
                tokens: null,
                selected_token: null,
                campaign: null,

                withdraw: {
                    wallet: '',
                    tokens_name: null,
                    tokens_amount: 0,
                    tokens_max: 0
                }
            }
        },
        computed: {
            availableWithdrawTokens: function() {
                return pickBy(this.balance.total_tokens_ready_for_pay_amounts, function(value) {
                    if (value > 0)
                        return value;
                })
            },
        },
        methods: {
            searchCampaign(key, array) {
                for (var i = 0; i < array.length; i++) {
                    if (array[i].coinSymbol === key) {
                        return array[i];
                    }
                }
            },
            selectTokenEvent() {
                this.withdraw.tokens_name = Object.keys(this.tokens)[this.selected]
                this.withdraw.tokens_max = Object.values(this.tokens)[this.selected]
                this.withdraw.tokens_amount = 0
            },
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.submitWithdrawRequest()
                    }
                });
            },
            async submitWithdrawRequest() {
                await this.$axios.post('withdraw', {
                    tokens_amount: this.withdraw.tokens_amount,
                    tokens_name: this.withdraw.tokens_name,
                    wallet: this.withdraw.wallet
                }).then((response) => {
                    this.$modal.show('success', { success: response.data.success })
                }).catch((error) => {
                    this.$modal.show('error', { error: error.response.data.errors })
                })
            }
        },
        mounted(){
            this.withdraw.tokens_name = Object.keys(this.availableWithdrawTokens)[0]
            this.withdraw.tokens_max = Object.values(this.availableWithdrawTokens)[0]

            this.tokens = this.availableWithdrawTokens

        },
        async asyncData ({ app }) {
            let balance = await app.$axios.$get('balance')
            let campaigns = await app.$axios.$get('campaigns/withdrawing')

            return {
                balance: balance,
                campaigns: campaigns,
                campaign: campaigns[0]
            }
        },
    }
</script>