<template>
    <AppModal name="wallet">
        <template slot="body" slot-scope="{ params }">
            <form>
                <span class="c-icon c-icon--success c-icon--large u-mb-small">
                    <i class="feather icon-info"></i>
                </span>
                <h3 class="u-mb-small">Пополнить баланс {{ params.currency }}</h3>
                <p class="u-mb-small">Автоматическое пополнение на сервисном обслуживании.<br>
                    Вы можете сделать перевод на наш {{ params.currency }} кошелек</p>
                <div class="u-mb-small">
                    <input
                            class="c-input"
                            type="text"
                            id="wallet"
                            name="wallet"
                            :value="params.wallet"
                            readonly
                            v-validate="'required'">
                </div>
                <p class="u-mb-small">и сообщить о переводе Вашему менеджеру для зачисления средств!</p>
                <button class="c-btn c-btn--success" @click.prevent="copyAddress('wallet')">Скопировать</button>
            </form>
        </template>
    </AppModal>
</template>

<script>
    import AppModal from '@/components/reusable/AppModal'

    export default {
        components: {
            AppModal
        }
    }
</script>