<template>
    <AppModal name="voucher">
        <template slot="body" slot-scope="{ params }">
            <form>
                <span class="c-icon c-icon--success c-icon--large u-mb-small">
                    <i class="feather icon-info"></i>
                </span>
                <h3 class="u-mb-small">Введите KLW-код</h3>
                <div class="u-mb-small">
                    <input
                        class="c-input"
                        type="text"
                        name="voucher"
                        v-model="voucher"
                        v-validate="'required'">
                    <small class="c-field__message u-color-danger" v-show="errors.has('voucher')"><i class="fa fa-times-circle"></i>{{ errors.first('voucher') }}</small>
                </div>
                <button class="c-btn c-btn--success" @click.prevent="validateBeforeSubmitVoucher">Активировать</button>
            </form>
        </template>
    </AppModal>
</template>

<script>
    import AppModal from '@/components/reusable/AppModal'

    export default {
        components: {
            AppModal
        },
        data() {
            return {
                voucher: null
            }
        },
        methods: {
            validateBeforeSubmitVoucher(){
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.submitVoucher()
                    }
                });
            },
            async submitVoucher() {
                let response = await this.$axios.post('balance/apply-voucher', {
                    code: this.voucher
                }).then((response) => {
                    this.$modal.hide('voucher')
                    this.$modal.show('success', { success: response.data.success })
                    this.voucher = null
                }).catch((error) => {
                    this.$modal.hide('voucher')
                    this.$modal.show('error', { error: error.response.data.errors })
                    this.voucher = null
                })
            },
        }
    }
</script>