<template>
    <AppModal name="confirm2fa">
        <template slot="body" slot-scope="{ params }">
            <h1 class="u-color-warning">
                <i class="fa fa-exclamation-triangle large"></i>
            </h1>
            <h3 class="u-mb-small">Подтверждение</h3>
            <p class="u-mb-small">
                2 шаг. Введите одноразовый пароль
            </p>
            <form>
                <div class="c-field u-mb-small">
                    <label class="c-field__label" for="totp">Two Factor Authentication</label>
                    <input
                            class="c-input"
                            type="text"
                            id="totp"
                            name="totp"
                            placeholder="Код"
                            v-model="totp"
                            v-validate="'required|length:6'">
                    <small class="c-field__message u-color-danger" v-show="errors.has('totp')"><i class="fa fa-times-circle"></i>{{ errors.first('totp') }}</small>
                </div>
            </form>

            <button class="c-btn c-btn--success" @click.prevent="validateBeforeSubmit">Подтвердить</button>
        </template>
    </AppModal>
</template>

<script>
    import AppModal from '@/components/reusable/AppModal'

    export default {
        components: {
            AppModal
        },
        data() {
            return {
                totp: null
            }
        },
        methods: {
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.submit()
                    }
                })
            },
            async submit() {
                let data = await this.$axios.post('2fa/confirm', { totpKey: this.totp })
                    .then((response) => {
                        console.log(response.data);
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            }
        }
    }
</script>