<template>
    <AppModal name="confirm">
        <template slot="body" slot-scope="{ params }">
            <div class="u-text-left">

                <h3 class="u-mb-medium ">Покупка токенов</h3>

                <form>

                    <div class="c-choice c-choice--checkbox">
                        <input
                                class="c-choice__input"
                                id="checkbox1"
                                type="checkbox"
                                name="agreement_1"
                                v-validate="'required'">
                        <label class="c-choice__label" for="checkbox1">
                            Настоящим подтверждаю, что я понимаю, что если я являюсь резидентом США, Пуэрто-Рико, Виргинских островов США и любых других владений США, я не смогу использовать токены, пока Klooway не получит лицензию SEC.
                        </label>
                        <small class="c-field__message u-color-danger" v-show="errors.has('agreement_1')"><i class="fa fa-times-circle"></i>{{ errors.first('agreement_1') }}</small>
                    </div>

                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="checkbox2" type="checkbox" name="agreement_2" v-validate="'required'">
                        <label class="c-choice__label" for="checkbox2">
                            Настоящим я подтверждаю, что платеж за токены не связан с какой-либо незаконной деятельностью, включая, но не ограничиваясь, отмыванием денег или финансированием терроризма, и я или лицо, от имени которого я выступаю, не будут использовать токены для финансирования, участия или поддержки любых незаконных действий.
                        </label>
                        <small class="c-field__message u-color-danger" v-show="errors.has('agreement_2')"><i class="fa fa-times-circle"></i>{{ errors.first('agreement_2') }}</small>
                    </div>

                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="checkbox3" type="checkbox" name="agreement_3" v-validate="'required'">
                        <label class="c-choice__label" for="checkbox3">
                            Настоящим подтверждаю, что, участвуя в этой кампании на платформе Klooway, я не нарушаю никаких законов или правил страны, в которой я живу, или где я нахожусь сейчас.
                        </label>
                        <small class="c-field__message u-color-danger" v-show="errors.has('agreement_3')"><i class="fa fa-times-circle"></i>{{ errors.first('agreement_3') }}</small>
                    </div>

                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="checkbox4" type="checkbox" name="agreement_4" v-validate="'required'">
                        <label class="c-choice__label" for="checkbox4">
                            Настоящим подтверждаю, что я осознаю, что все показатели, представленные на сайте, носят прогнозный характер и могут быть не достигнуты.
                        </label>
                        <small class="c-field__message u-color-danger" v-show="errors.has('agreement_4')"><i class="fa fa-times-circle"></i>{{ errors.first('agreement_4') }}</small>
                    </div>

                    <div class="c-choice c-choice--checkbox">
                        <input class="c-choice__input" id="checkbox5" type="checkbox" name="agreement_5" v-validate="'required'">
                        <label class="c-choice__label" for="checkbox5">
                            Настоящим подтверждаю, что полностью ознакомился с <a href="https://klooway.com/docs/dogovor_aferty.docx" target="_blank">Условиями обслуживания</a>, <a href="https://klooway.com/docs/private_policy.doc">Политикой конфиденциальности</a> и White Paper.
                        </label>
                        <small class="c-field__message u-color-danger" v-show="errors.has('agreement_5')"><i class="fa fa-times-circle"></i>{{ errors.first('agreement_5') }}</small>
                    </div>

                    <!--<pre>{{ params }}</pre>-->

                    <div class="u-text-right">
                        <a href="#" class="c-btn c-btn--success" @click.prevent="validateBuyTokensCheckboxes(params)">Согласен</a>
                    </div>
                </form>
            </div>

        </template>
    </AppModal>
</template>

<script>
    import AppModal from '@/components/reusable/AppModal'

    export default {
        components: {
            AppModal
        },
        data() {
            return {
                data: null
            }
        },
        methods: {
            validateBuyTokensCheckboxes(params) {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.buyTokens(params);
                    }
                });
            },
            async buyTokens(params) {
                console.log(params)
                await this.$axios.post('tokens/buy', {
                        currency: params.currency,
                        offer_id: params.offer_id,
                        token_price: params.token_price,
                        token_currency: params.token_currency,
                        token_qty_with_bonuses: params.token_qty_with_bonuses,
                        currency_sum: params.currency_sum
                }).then((response) => {
                    this.$modal.hide('confirm')
                    this.$modal.show('success', { success: response.data.success })
                }).catch((error) => {
                    this.$modal.hide('confirm')
                    this.$modal.show('error', { error: error.response.data.errors })
                })
            }
        }
    }
</script>