<template>
    <AppModal name="error">
        <template slot="body" slot-scope="{ params }">
            <h1 class="u-color-danger">
                <i class="far fa-times-circle large"></i>
            </h1>
            <h3 class="u-mb-medium ">Ошибка</h3>
            <p class="u-mb-medium">
                {{ Object.values(params.error)[0][0] }}
            </p>
            <div>
                <button class="c-btn c-btn--danger" @click.prevent="$modal.hide('error')">Ок</button>
            </div>
        </template>
    </AppModal>
</template>

<script>
    import AppModal from '@/components/reusable/AppModal'

    export default {
        components: {
            AppModal
        }
    }
</script>