<template>
    <AppModal name="enable2fa">
        <template slot="body" slot-scope="{ params }">
            <h1 class="u-color-warning">
                <i class="fa fa-exclamation-triangle large"></i>
            </h1>
            <h3 class="u-mb-medium ">Двухфакторная авторизация</h3>
            <p class="u-mb-medium">
                Ваш персональный QR-код. Отсканируйте его в приложении Google Authenticator
            </p>
            <div>
                <img :src="params.url" alt="">
            </div>
            <button class="c-btn c-btn--success" @click.prevent="nextStep">Дальше</button>
        </template>
    </AppModal>
</template>

<script>
    import AppModal from '@/components/reusable/AppModal'

    export default {
        components: {
            AppModal
        },
        data() {
            return {

            }
        },
        methods: {
            nextStep() {
                this.$modal.hide('enable2fa')
                this.$modal.show('confirm2fa')
            }
        }
    }
</script>