<template>
    <AppModal name="register">
        <template slot="body" slot-scope="{ params }">

                    <h1 class="u-color-success">
                        <i class="fas fa-check large"></i>
                    </h1>

                    <h3 class="u-mb-medium ">Успешная регистрация!</h3>

                    <p class="u-mb-medium u-text-left">
                        На Ваш Email отправлено письмо с временным паролем для входа в систему, также в письме вы найдете ссылку для подтверждения Email адреса и смены пароля на постоянный. Новый пароль Вы должны ввести самостоятельно и сохранить его в безопасном месте.<br>
                        <br>
                        Добро пожаловать в Klooway!
                    </p>

                    <div class="u-text-right">
                        <a href="#" class="c-btn c-btn--success" @click.prevent="login(params.email, params.password)">Войти в личный кабинет</a>
                    </div>

        </template>
    </AppModal>
</template>

<script>
    import AppModal from '@/components/reusable/AppModal'

    export default {
        components: {
            AppModal
        },
        props: ['email', 'password'],
        methods: {
            async login(email, password) {
                await this.$auth.loginWith('local', {
                    data: { email: email, password: password }
                })

                this.$router.replace({
                    name: 'index'
                })
            }
        }
    }
</script>