<template>
    <AppModal name="success">
        <template slot="body" slot-scope="{ params }">
                <h1 class="u-color-success">
                    <i class="fa fa-check large"></i>
                </h1>
                <h3 class="u-mb-medium ">Успешно</h3>
                <p class="u-mb-medium">
                    {{ Object.values(params.success)[0][0] }}
                </p>
                <button class="c-btn c-btn--success" @click.prevent="$modal.hide('success')">Ок</button>
        </template>
    </AppModal>
</template>

<script>
    import AppModal from '@/components/reusable/AppModal'

    export default {
        components: {
            AppModal
        },
        data() {
          return {
              success: null
          }
        },
    }
</script>