<template>
    <div>
        <AppHistoryTopNavigation></AppHistoryTopNavigation>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="u-mb-small">История покупок токенов</h3>
                </div>
                <div class="col-12">
                    <div class="c-table-responsive@wide">

                        <table class="c-table">
                            <thead class="c-table__head">
                            <tr class="c-table__row">
                                <th class="c-table__cell c-table__cell--head">Валюта</th>
                                <th class="c-table__cell c-table__cell--head">Сумма</th>
                                <th class="c-table__cell c-table__cell--head">Тип операции</th>
                                <th class="c-table__cell c-table__cell--head">Дата</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr class="c-table__row" v-for="transaction in transactions.buy">
                                <td class="c-table__cell">
                                    <div class="o-media">
                                        <div class="o-media__body">
                                            <h6>{{ currency(transaction.currency) }}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td :class="defineColorClass(transaction.bonusType)" class="c-table__cell u-text-bold">
                                    {{ transaction.amount }}
                                </td>
                                <td class="c-table__cell">{{ defineTranslation(transaction.bonusType) }}</td>
                                <td class="c-table__cell">{{ transaction.created_at | moment("dddd, MMMM Do YYYY") }}</td>
                            </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AppHistoryTopNavigation from '@/components/nav/AppHistoryTopNavigation'

    export default {
        components: {
            AppHistoryTopNavigation
        },
        methods: {

        },
        layout: 'app',
        data () {
            return {
                transactions: null
            }
        },
        async asyncData ({ app }) {
            let data = await app.$axios.$get('transactions/buy')

            return {
                transactions: data
            }
        }
    }
</script>