<template>
    <div class="container-fluid" style="padding-right: 0; padding-left: 0">
        <div class="row">
            <div class="col-12">
                <footer class="c-footer" style="padding-left: 15px">
                    <p>© 2018 Klooway Technologies, Inc</p>
                    <span class="c-footer__divider">|</span>
                    <nav>
                        <a class="c-footer__link" href="#">Terms</a>
                        <a class="c-footer__link" href="#">Privacy</a>
                        <a class="c-footer__link" href="#">FAQ</a>
                        <a class="c-footer__link" href="#">Help</a>
                    </nav>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>

</script>