<template>
    <div class="o-page">
        <AppSidebar></AppSidebar>
        <main class="o-page__content">
            <AppHeader></AppHeader>
            <nuxt/>
            <AppFooter></AppFooter>
        </main>
        <AppErrorModal></AppErrorModal>
        <AppSuccessModal></AppSuccessModal>
        <AppApplyVoucher></AppApplyVoucher>
        <AppAddCryptoFunds></AppAddCryptoFunds>
        <AppEnable2FA></AppEnable2FA>
        <AppConfirm2FA></AppConfirm2FA>
    </div>
</template>

<script>
    import AppHeader from '@/components/header/AppHeader'
    import AppFooter from '@/components/footer/AppFooter'
    import AppSidebar from '@/components/sidebar/AppSidebar'
    import AppErrorModal from '@/components/reusable/modals/AppErrorModal'
    import AppSuccessModal from '@/components/reusable/modals/AppSuccessModal'
    import AppApplyVoucher from '@/components/reusable/modals/AppApplyVoucher'
    import AppAddCryptoFunds from '@/components/reusable/modals/AppAddCryptoFunds'
    import AppEnable2FA from '@/components/reusable/modals/AppEnable2FA'
    import AppConfirm2FA from '@/components/reusable/modals/AppConfirm2FA'

    export default {
        components: {
            AppErrorModal,
            AppSuccessModal,
            AppHeader,
            AppFooter,
            AppSidebar,
            AppApplyVoucher,
            AppAddCryptoFunds,
            AppEnable2FA,
            AppConfirm2FA
        },
        middleware: 'auth',
        head: {
            script: [
                { src: 'https://static.zdassets.com/ekr/snippet.js?key=033c1827-aae1-4196-bca1-986e7a229415', id: 'ze-snippet' }
            ],
        }
    }
</script>