<template>
  <div class="o-page o-page--center">
    <nuxt/>
    <AppErrorModal></AppErrorModal>
    <AppSuccessModal></AppSuccessModal>
  </div>
</template>

<script>
  import AppErrorModal from '@/components/reusable/modals/AppErrorModal'
  import AppSuccessModal from '@/components/reusable/modals/AppSuccessModal'

  export default {
      components: {
          AppErrorModal,
          AppSuccessModal
      }
  }
</script>
