<template>
    <div class="u-height-100">
        <div class="u-flex u-justify-center u-align-items-center u-height-100">
            <h4 class="u-text-center">
                <h1 class="u-color-success">
                    <i class="fas fa-check large"></i>
                </h1>
                <div>Ваш Email успешно подтверждён!</div>
                <nuxt-link :to="({ name: 'login' })" class="c-btn c-btn--success u-m-medium">Войти в кабинет</nuxt-link>
            </h4>
        </div>
    </div>
</template>

<script>
    export default {
        async asyncData({ app, query, redirect }) {
            let data = await app.$axios.$post('auth/confirm-email', {
                email: query.email,
                secret: query.secret
            })
                .catch((error) => {
                    redirect('/login')
                })

            return
        }

    }
</script>