<template>
    <div class="o-page o-page--center">
        <div class="o-page__card">
            <div class="c-card c-card--center">

                <h4 class="u-mb-medium">Восстановление пароля</h4>
                <form>
                    <div class="c-field u-mb-small">
                        <label class="c-field__label">Email</label>
                        <input
                                class="c-input"
                                :class="errors.has('email') ? 'c-input--danger' : ''"
                                type="email"
                                name="email"
                                v-model="email"
                                v-validate="'email|required'">
                        <small class="c-field__message u-color-danger" v-show="errors.has('email')"><i class="fa fa-times-circle"></i>{{ errors.first('email') }}</small>
                    </div>

                    <div class="c-note u-mb-small">
                      <span class="c-note__icon">
                        <i class="feather icon-info"></i>
                      </span>
                        <p>Вам будет направлено письмо с инструкциями по восстановлению Вашего пароля.</p>
                    </div>

                    <button class="c-btn c-btn--fullwidth c-btn--info" @click.prevent="validateBeforeSubmit">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import AppErrorModal from '@/components/reusable/modals/AppErrorModal'
    import AppSuccessModal from '@/components/reusable/modals/AppSuccessModal'

    export default {
        components: {
            AppErrorModal,
            AppSuccessModal
        },
        data() {
            return {
                email: null
            }
        },
        methods: {
            validateBeforeSubmit(){
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.submit()
                    }
                })
            },
            async submit() {
                let response = await this.$axios.post('auth/restore-password', {
                    email: this.email
                })
                    .then((response) => {
                        this.$modal.show('success', { success: response.data.success })
                    })
                    .catch((error) => {
                        this.$modal.show('error', { error: error.response.data.errors })
                    })

            }
        }
    }
</script>