<template>
  <div class="container pt-15">
    <div class="row pt-15">

      <div class="col-md-6" v-if="!data.user.phone_validated">
        <nuxt-link :to="({ name: 'settings' })" style="cursor: pointer;">
          <div class="c-alert c-alert--info alert u-mb-medium">
            <span class="c-alert__icon">
              <i class="feather icon-info"></i>
            </span>
            <div class="c-alert__content">
              <h4 class="c-alert__title">Подтвердите телефон</h4>
              <p>Правила сервиса обязывают каждого инвестора подтвердить свой телефон.</p>
            </div>
          </div>
        </nuxt-link>
      </div>

      <div class="col-md-6" v-if="!data.user.identity_verified">
        <nuxt-link :to="({ name: 'settings-kyc' })" style="cursor: pointer;">
          <div class="c-alert c-alert--warning u-mb-medium">
              <span class="c-alert__icon">
                <i class="feather icon-alert-triangle"></i>
              </span>
            <div class="c-alert__content">
              <h4 class="c-alert__title">Вы не прошли верификацию KYC</h4>
              <p>Для полноценного доступа ко всем разделам сервиса необходимо заполнить свой профиль и подтвердить личность.</p>
            </div>
          </div>
        </nuxt-link>
      </div>
    </div>

    <!-- ======================= TABLES =======================-->
    <div class="row">

      <div class="col-md-6 col-xl-3 ">
        <div class="c-card">
          <span class="c-icon c-icon--secondary u-mb-small">
            <i class="feather icon-info"></i>
          </span>
          <h3 class="c-text--subtitle u-mb-small">Заполненность профиля</h3>
          <div class="c-progress c-progress--danger">
            <div class="c-progress__bar" style="width:35%;"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-3">
        <div class="c-card">
          <span class="c-icon c-icon--success u-mb-small">
            <i class="feather icon-users"></i>
          </span>
          <h3 class="c-text--subtitle">Приглашенных друзей</h3>
          <h2>{{ referrals.count }}</h2>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="c-card">
          <span class="c-icon c-icon--info u-mb-small">
            <i class="feather icon-activity"></i>
          </span>
          <h3 class="c-text--subtitle">Реферальный баланс</h3>
          <h2>{{ balance.bonusesSum }} USDT</h2>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="c-card">
          <span class="c-icon c-icon--warning u-mb-small">
            <i class="feather icon-zap"></i>
          </span>
          <h3 class="c-text--subtitle">USDT Баланс</h3>
          <h2>{{ balance.total_ready_for_pay_amounts.usd }} USDT</h2>
        </div>
      </div>
    </div>
    <div class="row u-mt-small">
      <div class="col-12">
        <h3 class="u-mb-small">Цифровые активы</h3>
      </div>
    </div>
    <div class="row u-mb-large">
      <div class="col-md-6 col-xl-7 u-mb-medium">

        <div class="c-table-responsive@wide">
          <table class="c-table">
            <thead class="c-table__head">
            <tr class="c-table__row">
              <th class="c-table__cell c-table__cell--head">Проект</th>
              <th class="c-table__cell c-table__cell--head">Адрес</th>
              <th class="c-table__cell c-table__cell--head">Количество</th>
              <th class="c-table__cell c-table__cell--head">Действие</th>
            </tr>
            </thead>

            <tbody>
            <tr class="c-table__row">
              <td class="c-table__cell">
                <div class="o-media">

                  <div class="o-media__body">
                    <h6>Flogmall</h6>
                    <p>MLC</p>
                  </div>
                </div>
              </td>
              <td class="c-table__cell">https://example.com</td>
              <th class="c-table__cell">223</th>

              <td class="c-table__cell">
                <div class="c-dropdown dropdown">
                  <a href="#" class="c-btn c-btn--info has-icon dropdown-toggle" id="dropdownMenuTable1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                    <i class="feather icon-chevron-down"></i>
                  </a>

                  <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable1">
                    <a class="c-dropdown__item dropdown-item" href="#">Пополнить</a>
                    <a class="c-dropdown__item dropdown-item" href="#">Вывести</a>
                  </div>
                </div>
              </td>
            </tr>

            <tr class="c-table__row">
              <td class="c-table__cell">
                <div class="o-media">

                  <div class="o-media__body">
                    <h6>Planex</h6>
                    <p>XPX</p>
                  </div>
                </div>
              </td>
              <td class="c-table__cell">https://planex.io/</td>
              <th class="c-table__cell">134</th>


              <td class="c-table__cell">
                <div class="c-dropdown dropdown">
                  <a href="#" class="c-btn c-btn--info has-icon dropdown-toggle" id="dropdownMenuTable2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                    <i class="feather icon-chevron-down"></i>
                  </a>

                  <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable2">
                    <a class="c-dropdown__item dropdown-item" href="#">Пополнить</a>
                    <a class="c-dropdown__item dropdown-item" href="#">Вывести</a>
                  </div>
                </div>
              </td>
            </tr>

            <tr class="c-table__row">
              <td class="c-table__cell">
                <div class="o-media">

                  <div class="o-media__body">
                    <h6>OSA</h6>
                    <p>OSA</p>
                  </div>
                </div>
              </td>
              <td class="c-table__cell">https://example.com</td>
              <th class="c-table__cell">165</th>


              <td class="c-table__cell">
                <div class="c-dropdown dropdown">
                  <a href="#" class="c-btn c-btn--info has-icon dropdown-toggle" id="dropdownMenuTable3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                    <i class="feather icon-chevron-down"></i>
                  </a>

                  <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable3">
                    <a class="c-dropdown__item dropdown-item" href="#">Пополнить</a>
                    <a class="c-dropdown__item dropdown-item" href="#">Вывести</a>

                  </div>
                </div>
              </td>
            </tr>

            <tr class="c-table__row">
              <td class="c-table__cell">
                <div class="o-media">

                  <div class="o-media__body">
                    <h6>Klooway.BET</h6>
                    <p>KLWS</p>
                  </div>
                </div>
              </td>
              <td class="c-table__cell">https://klooway.io/</td>
              <th class="c-table__cell">235</th>


              <td class="c-table__cell">
                <div class="c-dropdown dropdown">
                  <a href="#" class="c-btn c-btn--info has-icon dropdown-toggle" id="dropdownMenuTable4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                    <i class="feather icon-chevron-down"></i>
                  </a>

                  <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable4">
                    <a class="c-dropdown__item dropdown-item" href="#">Пополнить</a>
                    <a class="c-dropdown__item dropdown-item" href="#">Вывести</a>
                  </div>
                </div>
              </td>
            </tr>

            <tr class="c-table__row">
              <td class="c-table__cell">
                <div class="o-media">

                  <div class="o-media__body">
                    <h6>Aworker</h6>
                    <p>WORK</p>
                  </div>
                </div>
              </td>
              <td class="c-table__cell">https://example.com</td>
              <th class="c-table__cell">113</th>


              <td class="c-table__cell">
                <div class="c-dropdown dropdown">
                  <a href="#" class="c-btn c-btn--info has-icon dropdown-toggle" id="dropdownMenuTable5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                    <i class="feather icon-chevron-down"></i>
                  </a>

                  <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable5">
                    <a class="c-dropdown__item dropdown-item" href="#">Пополнить</a>
                    <a class="c-dropdown__item dropdown-item" href="#">Вывести</a>
                  </div>
                </div>
              </td>
            </tr>

            <tr class="c-table__row">
              <td class="c-table__cell">
                <div class="o-media">

                  <div class="o-media__body">
                    <h6>JOYS</h6>
                    <p>JOYS</p>
                  </div>
                </div>
              </td>
              <td class="c-table__cell">https://example.com</td>
              <th class="c-table__cell">230</th>


              <td class="c-table__cell">
                <div class="c-dropdown dropdown">
                  <a href="#" class="c-btn c-btn--info has-icon dropdown-toggle" id="dropdownMenuTable6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                    <i class="feather icon-chevron-down"></i>
                  </a>

                  <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable6">
                    <a class="c-dropdown__item dropdown-item" href="#">Пополнить</a>
                    <a class="c-dropdown__item dropdown-item" href="#">Вывести</a>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6 col-xl-5">

        <div class="c-card">
          <h4>Реферальная ссылка</h4>
          <p class="u-mb-medium">Получай USDT за приглашенных друзей.</p>
          <input class="c-input" name="referral_link" id="referral_link" :value="'https://klooway.com/invite/' + data.user.invite_code" readonly/>

          <button class="c-btn c-btn--fullwidth u-mt-small" @click.prevent="copyAddress('referral_link')">Скопировать</button>

        </div>
        <div class="c-card">
          <h4>Последние транзакции</h4>
          <p class="u-mb-medium">Активность за последнее время.</p>

          <div class="c-feed">
            <div class="c-feed__item">
              <p>Покупка токенов 4921 XPX</p>
              <p class="u-text-xsmall">сейчас</p>
            </div>

            <div class="c-feed__item c-feed__item--success">
              <p>Депозит 0.3333333 BTC</p>
              <p class="u-text-xsmall">5 минут назад</p>
            </div>

            <div class="c-feed__item">
              <p>Бонус за приглашенного друга</p>
              <p class="u-text-xsmall">30 минут назад</p>
            </div>

            <div class="c-feed__item c-feed__item--fancy">
              <p>Покупка токенов 1042 KLWS</p>
              <p class="u-text-xsmall">3 часа назад</p>
            </div>

            <div class="c-feed__item c-feed__item--danger">
              <p>Payment failed   by #49832</p>
              <p class="u-text-xsmall">5 hours ago</p>
            </div>

            <div class="c-feed__item c-feed__item--warning">
              <p>New order received   by #49832</p>
              <p class="u-text-xsmall">6 hours ago</p>
            </div>

            <div class="c-feed__item">
              <p>New order received by #49832</p>
              <p class="u-text-xsmall">6 hours ago</p>
            </div>
          </div><!-- // .c-feed -->

        </div>

      </div>
    </div>
  </div>
</template>

<script>
    export default {
        layout: 'app',
        components: {

        },
        data() {
            return {
                data: null,
                balance: null,
                referrals: {
                    count: null,
                },
            }
        },
        async asyncData ({ app }) {
            let data = await app.$axios.$get('auth/user')
            let count = await app.$axios.$get('affiliate/count')
            let balance = await app.$axios.$get('balance')

            return {
                data: data,
                referrals: {
                    count: count,
                },
                balance: balance
            }
        }
    }
</script>