<template>
    <div class="o-page__card">
        <div class="c-card c-card--center">
          <span class="c-icon c-icon--large u-mb-small">
            <i class="feather icon-check"></i>
          </span>

            <h4 class="u-mb-medium">Кабинет инвестора</h4>
            <form>
                <div class="c-field u-mb-small">
                    <label class="c-field__label">Email</label>
                    <input
                            class="c-input"
                            :class="errors.has('email') ? 'c-input--danger' : ''"
                            type="email"
                            name="email"
                            v-model="form.email"
                            v-validate="'email|required'"
                            required>
                    <small class="c-field__message u-color-danger" v-show="errors.has('email')">{{ errors.first('email') }}</small>
                </div>

                <div class="c-field u-mb-small">
                    <label class="c-field__label">Пароль</label>
                    <input
                            class="c-input"
                            :class="errors.has('password') ? 'c-input--danger' : ''"
                            type="password"
                            name="password"
                            v-model="form.password"
                            v-validate="'required|min:8'"
                            required>
                    <small class="c-field__message u-color-danger" v-show="errors.has('password')">{{ errors.first('password') }}</small>
                </div>

                <button class="c-btn c-btn--fullwidth c-btn--info u-mb-small" @click.prevent="validateBeforeSubmit">Войти</button>
                <p class="u-mb-small"><nuxt-link :to="({ name: 'register' })">Регистрация</nuxt-link></p>
                <p><nuxt-link :to="({ name: 'forgot-password' })">Восстановление доступа</nuxt-link></p>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    email: '',
                    password: ''
                }
            }
        },
        methods: {
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.signin()
                    }
                })
            },
            async signin () {
                await this.$auth.loginWith('local', {
                    data: this.form
                })
                    .catch((error) => {
                        this.$modal.show('error', { error: error.response.data.errors })
                    })

                this.$router.replace({
                    name: 'index'
                })
            }
        }
    }
</script>