<template>
    <div class="o-page o-page--center">
        <div class="o-page__card">
            <div class="c-card c-card--center">

                <h4 class="u-mb-medium">Открытие счета в Klooway</h4>

                <form>
                    <div class="c-field u-mb-small">
                        <label class="c-field__label">Имя</label>
                        <input
                                class="c-input"
                                :class="errors.has('first_name') ? 'c-input--danger' : ''"
                                type="text"
                                name="first_name"
                                v-model="form.first_name"
                                v-validate="'required'">
                        <small class="c-field__message u-color-danger" v-show="errors.has('first_name')"><i class="fa fa-times-circle"></i>{{ errors.first('first_name') }}</small>
                    </div>

                    <div class="c-field u-mb-small">
                        <label class="c-field__label">Email</label>
                        <input
                                class="c-input"
                                :class="errors.has('email') ? 'c-input--danger' : ''"
                                type="email"
                                name="email"
                                v-model="form.email"
                                v-validate="'email|required'">
                        <small class="c-field__message u-color-danger" v-show="errors.has('email')"><i class="fa fa-times-circle"></i>{{ errors.first('email') }}</small>
                    </div>

                    <div class="c-field u-mb-small">
                        <label class="c-field__label">Invite code</label>
                        <input
                                class="c-input"
                                type="text"
                                name="invite_code"
                                v-model="form.invite_code">
                    </div>

                    <div class="c-field u-mb-small">
                        <p>Ознакомтесь с <a href="https://klooway.com/docs/terms.doc">Правилами использования</a> и <a href="https://klooway.com/docs/private_policy.doc">Политикой конфиденциальности</a> klooway.com.</p>
                    </div>

                    <div class="c-field u-mb-small">
                        <div class="c-choice c-choice--checkbox">
                            <input
                                    class="c-choice__input"
                                    id="checkbox1"
                                    type="checkbox"
                                    name="agreement_1"
                                    v-validate="'required'"
                            >
                            <label class="c-choice__label" for="checkbox1">
                                Я ознакомился с правилами использования и Политикой конфиденциальности.
                            </label>
                            <small class="c-field__message u-color-danger" v-show="errors.has('agreement_1')"><i class="fa fa-times-circle"></i>{{ errors.first('agreement_1') }}</small>
                        </div>
                    </div>

                    <div class="c-field u-mb-small">
                        <div class="c-choice c-choice--checkbox">
                            <input
                                    class="c-choice__input"
                                    id="checkbox2"
                                    type="checkbox"
                                    name="agreement_2"
                                    v-validate="'required'"
                            >
                            <label class="c-choice__label" for="checkbox2">Я даю согласие на  получение электронных писем, новостей и уведомлений. </label>
                            <small class="c-field__message u-color-danger" v-show="errors.has('agreement_2')"><i class="fa fa-times-circle"></i>{{ errors.first('agreement_2') }}</small>
                        </div>
                    </div>

                    <button class="c-btn c-btn--fullwidth c-btn--info" @click.prevent="validateBeforeSubmit">Зарегистрироваться</button>
                </form>
            </div>
        </div>
        <AppRegisterModal></AppRegisterModal>
    </div>
</template>

<script>
    import AppRegisterModal from '@/components/reusable/modals/AppRegisterModal'

    export default {
        components: {
            AppRegisterModal
        },
        data() {
            return {
                form: {
                    first_name: null,
                    email: null,
                    invite_code: null,
                    _ga: null,
                }
            }
        },
        methods: {
            validateBeforeSubmit(){
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.register()
                    }
                })
            },
            async register() {
                await this.$axios.post('auth/simple-register', this.form)
                    .then((response) => {
                        if (response.data.success) {
                            this.$modal.show('register', { email: this.form.email, password: response.data.success.password })
                        }
                    })
                    .catch((error) => {
                        this.$modal.show('error', { error: error.response.data.errors })
                    })

            }
        },
        mounted() {
            if(this.$cookie.get('invest')) {
                this.form.invite_code = this.$cookie.get('invest')
            }

            if(this.$cookie.get('_ga')) {
                this.form._ga = this.$cookie.get('_ga')
            }
        }
    }
</script>