<template>
    <div class="o-page o-page--center">
        <div class="o-page__card">
            <div class="c-card c-card--center">
                <h4 class="u-mb-medium">Ваш новый пароль</h4>
                <form>
                    <div class="c-field u-mb-small">
                        <label class="c-field__label">Пароль</label>
                        <input
                                class="c-input"
                                :class="errors.has('password') ? 'c-input--danger' : ''"
                                type="password"
                                name="password"
                                v-model="password"
                                v-validate="'required|confirmed:password_confirm|min:8'">
                        <small class="c-field__message u-color-danger" v-show="errors.has('password')"><i class="fa fa-times-circle"></i>{{ errors.first('password') }}</small>
                    </div>
                    <div class="c-field u-mb-small">
                        <label class="c-field__label">Повторите пароль</label>
                        <input
                                class="c-input"
                                :class="errors.has('password_confirm') ? 'c-input--danger' : ''"
                                type="password"
                                ref="password_confirm"
                                name="password_confirm"
                                v-model="password_confirm"
                                v-validate="'required|min:8'">
                        <small class="c-field__message u-color-danger" v-show="errors.has('password_confirm')"><i class="fa fa-times-circle"></i>{{ errors.first('password_confirm') }}</small>
                    </div>
                    <button class="c-btn c-btn--fullwidth c-btn--info" @click.prevent="validateBeforeSubmit">Подтвердить</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                email: null,
                token: null,
                password: null,
                password_confirm: null
            }
        },
        methods: {
            validateBeforeSubmit(){
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.submit()
                    }
                })
            },
            async submit() {
                let response = this.$axios.post('auth/apply-new-password', {
                    email: this.email,
                    token: this.token,
                    password: this.password
                })
                    .then((response) => {
                        this.$modal.show('success', { success: response.data.success })
                    })
                    .catch((error) => {
                        this.$modal.show('error', { error: error.response.data.errors })
                    })
            }
        },
        async asyncData({ app, query, redirect }) {
            let data = await app.$axios.$post('auth/validate-token', {
                email: query.email,
                token: query.secret
            })
                .catch((error) => {
                    redirect('/login')
                })
            return {
                email: query.email,
                token: query.secret
            }
        }
    }
</script>