<template>
    <div class="container" style="padding-top: 15px;">
        <div class="row">
            <div class="col-12">
                <nav class="c-tabs">

                    <AppSettingsTopNavigation></AppSettingsTopNavigation>

                    <div class="c-tabs__content tab-content">
                        <div class="c-tabs__pane active">

                            <div class="row">
                                <div class="col-xl-8">
                                    <div class="row">
                                        <div class="col-sm-12 u-mb-small">
                                            <h5>Персональная информация</h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="c-field u-mb-medium">
                                                <label class="c-field__label" for="email">Email</label>
                                                <div class="c-field has-icon-right u-mb-xsmall">
                                                    <input
                                                            class="c-input"
                                                            :class="( data.user.validated ? 'c-input--success' : 'c-input--warning' )"
                                                            type="text"
                                                            id="email"
                                                            name="email"
                                                            readonly
                                                            v-model="data.user.email"
                                                    >
                                                    <span class="c-field__icon" v-if="!data.user.validated">
                                                        <i class="fa fa-exclamation-triangle u-color-warning"></i>
                                                    </span>
                                                    <span class="c-field__icon" v-if="data.user.validated">
                                                        <i class="fa fa-check u-color-success"></i>
                                                    </span>
                                                </div>
                                                <p class="u-mt-xsmall" v-if="!data.user.validated">
                                                    <a class="c-btn c-btn--warning c-btn--small" @click.prevent="validateEmail">Подтвердить</a>
                                                </p>
                                            </div>
                                        </div>



                                        <div class="col-sm-6">
                                            <div class="c-field u-mb-medium">

                                                <form data-vv-scope="phone_number" class="u-mb-xsmall">
                                                    <label class="c-field__label" for="phone_number">Телефон</label>
                                                    <div class="c-field has-icon-right">
                                                        <input
                                                                class="c-input"
                                                                :class="( data.user.phone_validated ? 'c-input--success' : 'c-input--warning' )"
                                                                type="phone"
                                                                id="phone_number"
                                                                name="phone_number"
                                                                :readonly="( data.user.phone_validated ? true : false )"
                                                                v-validate="{ required: true, regex: /^[0-9 +]+$/, min: 4 }"
                                                                v-model="data.user.phone_number"
                                                        >
                                                        <span class="c-field__icon" v-if="!data.user.phone_validated">
                                                            <i class="fa fa-exclamation-triangle u-color-warning"></i>
                                                        </span>
                                                        <span class="c-field__icon" v-if="data.user.phone_validated">
                                                            <i class="fa fa-check u-color-success"></i>
                                                        </span>
                                                    </div>
                                                    <small class="c-field__message u-color-danger" v-show="errors.has('phone_number.phone_number')"><i class="fa fa-times-circle"></i>{{ errors.first('phone_number.phone_number') }}</small>
                                                    <p class="u-mt-xsmall" v-if="!data.user.phone_validated">
                                                        <button class="c-btn c-btn--warning c-btn--small" @click.prevent="validatePhoneBeforeSubmit">Подтвердить</button>
                                                    </p>
                                                </form>

                                                <form data-vv-scope="sms_code" v-if="show.validate_sms_code">
                                                    <label class="c-field__label" for="sms_code">SMS-Код</label>
                                                    <div class="c-field">
                                                        <input
                                                                class="c-input"
                                                                type="number"
                                                                id="sms_code"
                                                                name="sms_code"
                                                                v-validate="{ required: true, length: 5 }"
                                                                v-model="sms_code"
                                                        >
                                                    </div>
                                                    <small class="c-field__message u-color-danger" v-show="errors.has('sms_code.sms_code')"><i class="fa fa-times-circle"></i>{{ errors.first('sms_code.sms_code') }}</small>
                                                    <p class="u-mt-xsmall">
                                                        <button class="c-btn c-btn--success c-btn--small" @click.prevent="validateCodeBeforeSubmit">Подтвердить</button>
                                                    </p>
                                                </form>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="c-field u-mb-medium">
                                                <label class="c-field__label" for="first_name">Имя</label>
                                                <div class="c-field has-icon-right">
                                                    <input
                                                            class="c-input"
                                                            type="text"
                                                            id="first_name"
                                                            name="first_name"
                                                            v-model="data.user.first_name"
                                                            v-validate="'required'"
                                                    >
                                                    <small class="c-field__message u-color-danger" v-show="errors.has('first_name')"><i class="fa fa-times-circle"></i>{{ errors.first('first_name') }}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="c-field u-mb-medium">
                                                <label class="c-field__label" for="last_name">Фамилия</label>
                                                <div class="c-field has-icon-right">
                                                    <input
                                                            class="c-input"
                                                            type="text"
                                                            id="last_name"
                                                            name="last_name"
                                                            v-model="data.user.last_name"
                                                            v-validate="'required'"
                                                    >
                                                    <small class="c-field__message u-color-danger" v-show="errors.has('last_name')"><i class="fa fa-times-circle"></i>{{ errors.first('last_name') }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 u-mb-small">
                                            <h5>Адрес</h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="c-field u-mb-medium">
                                                <label class="c-field__label" for="zip">Индекс</label>
                                                <div class="c-field has-icon-right">
                                                    <input
                                                            class="c-input"
                                                            type="text"
                                                            id="zip"
                                                            name="zip"
                                                            v-model="data.user.zip">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="c-field u-mb-medium">
                                                <label class="c-field__label" for="country">Страна</label>
                                                <div class="c-field has-icon-right">
                                                    <input
                                                            class="c-input"
                                                            type="text"
                                                            id="country"
                                                            name="country"
                                                            v-model="data.user.country">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="c-field u-mb-medium">
                                                <label class="c-field__label" for="city">Город</label>
                                                <div class="c-field has-icon-right">
                                                    <input
                                                            class="c-input"
                                                            type="text"
                                                            id="city"
                                                            name="city"
                                                            v-model="data.user.city">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="c-field u-mb-medium">
                                                <label class="c-field__label" for="street">Улица</label>
                                                <div class="c-field has-icon-right">
                                                    <input
                                                            class="c-input"
                                                            type="text"
                                                            id="street"
                                                            name="street"
                                                            v-model="data.user.street">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="c-field u-mb-medium">
                                                <label class="c-field__label" for="house">Дом</label>
                                                <div class="c-field has-icon-right">
                                                    <input
                                                            class="c-input"
                                                            type="text"
                                                            id="house"
                                                            name="house"
                                                            v-model="data.user.house">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="c-field u-mb-medium">
                                                <label class="c-field__label" for="apartment">Квартира</label>
                                                <div class="c-field has-icon-right">
                                                    <input
                                                            class="c-input"
                                                            type="text"
                                                            id="apartment"
                                                            name="apartment"
                                                            v-model="data.user.apartment">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 u-mb-xsmall">
                                            <button class="c-btn c-btn--info" @click.prevent="validateBeforeSubmit">Сохранить</button>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xl-4">
                                    <div class="c-card u-text-center">
                                        <div class="c-avatar u-inline-flex">
                                            <img class="c-avatar__img" src="http://via.placeholder.com/350x150" alt="">
                                        </div>
                                        <h5>Аватар</h5>
                                        <p class="u-pb-small u-mb-small u-border-bottom">Москва, Россия</p>
                                        <div class="col-12">
                                            <button class="c-btn c-btn--info">Загрузить</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="c-tabs__pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="row">
                                <div class="col-12 col-sm-5 u-mb-xsmall">

                                    <h4 class="u-text-small u-mb-small">Для прохождения процедуры верификации (KYC) Вам потребуется предоставить нам фотографию или скан любого официального документа: <b>удостоверения личности, паспорта или водительских прав и селфи с документом, удостоверяющим личность.</b></h4>
                                    <p class="u-text-small u-mb-small"> На фотографии должно быть отчетливо видно Ваше лицо и Ваш документ.</p>
                                    <button type="button" class="c-btn c-btn--secondary   " data-toggle="modal" data-target="#kyc">
                                        Зачем это нужно?
                                    </button>
                                    <button class="c-btn c-btn--info u-ml-small">Загрузить изображения</button>


                                </div>
                                <div class="col-12 col-sm-7 u-mb-xsmall">
                                    <div class="c-alert c-alert--info alert u-mb-medium">
                                        <span class="c-alert__icon">
                                          <i class="feather icon-info"></i>
                                        </span>

                                        <div class="c-alert__content">
                                            <h4 class="c-alert__title">Требования к фотографиям</h4>

                                            <ul class="u-text-small u-mt-small">
                                                <li>- На фотографии должны быть видны все границы документа. </li>
                                                <li>- Текст документа должен быть без пересветов, пятен и легко читаться. Фотографии низкого качества не пройдут проверку. </li>
                                                <li>- Если Ваш документ располагается на двух страницах или на двух сторонах листа (например, удостоверение личности или паспорт), прикрепите обе стороны. </li>
                                                <li>- Документ должен быть действителен как минимум в течение месяца. Документ с истекшим сроком не будет принят. </li>
                                                <li>- Система не распознает документы, измененные с помощью графических редакторов. </li>
                                                <li>- Мы принимаем файлы формата JPEG или PDF не менее 500 кб. Предпочтительно, чтобы документ был на латинице. Система не распознает иероглифы и лигатуру.</li>
                                            </ul>
                                        </div>

                                        <button class="c-close" data-dismiss="alert" type="button">×</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="c-tabs__pane" id="nav-security" role="tabpanel" aria-labelledby="nav-security-tab">
                            <div class="row">
                                <div class="col-lg-6 u-mb-xsmall">
                                    <h3 class="u-mb-small">Двухфакторная авторизация</h3>
                                    <p class="u-mb-small">Исключите возможность несанкционированного доступа к Вашим счетам и токенам, включив дополнительную проверку при авторизации.</p>
                                    <button class="c-btn c-btn--success u-mb-xsmall">Активировать</button>
                                </div>
                                <div class="col-lg-6 u-mb-xsmall">
                                    <h3 class="u-mb-small">Смена пароля</h3>
                                    <div class="c-field u-mb-xsmall">
                                        <label class="c-field__label" for="input1">Старый пароль</label>
                                        <input class="c-input" type="text" id="input1" placeholder="Enter your email">
                                    </div>
                                    <div class="c-field u-mb-small">
                                        <label class="c-field__label" for="input1">Новый пароль</label>
                                        <input class="c-input" type="text" id="input1" placeholder="Enter your email">
                                    </div>
                                    <button class="c-btn c-btn--success u-mb-xsmall">Сменить пароль</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>
</template>

<script>
    import AppSettingsTopNavigation from '@/components/nav/AppSettingsTopNavigation'

    export default {
        layout: 'app',
        components: {
            AppSettingsTopNavigation
        },
        data() {
            return {
                sms_code: null,
                show: {
                    request_sms_button: true,
                    validate_sms_code: false
                },
                data: null
            }
        },
        methods: {
            validatePhoneBeforeSubmit() {
                this.$validator.validateAll('phone_number').then((result) => {
                    if (result) {
                        this.requestSMSCode()
                    }
                });
            },
            async requestSMSCode() {
                let response = this.$axios.post('auth/request-sms', {
                    phone_number: this.data.user.phone_number
                }).then((response) => {
                    this.$modal.show('success', { success: response.data.success })
                    this.show.request_sms_button = false
                    this.show.validate_sms_code = true
                }).catch((error) => {
                    this.$modal.show('error', { error: error.response.data.errors })
                })
            },

            validateCodeBeforeSubmit() {
                this.$validator.validateAll('sms_code').then((result) => {
                    if (result) {
                        this.confirmSMSCode()
                    }
                });
            },
            async confirmSMSCode() {
                let response = this.$axios.post('auth/validate-sms', {
                    phone_number: this.data.user.phone_number,
                    code: this.sms_code
                }).then((response) => {
                    this.$modal.show('success', { success: response.data.success })
                    this.show.request_sms_button = true
                    this.show.validate_sms_code = false
                    this.data.user.phone_validated = true
                }).catch((error) => {
                    this.$modal.show('error', { error: error.response.data.errors })
                })
            },

            async validateEmail() {
                let response = this.$axios.post('auth/validate-email')
                    .then((response) => {
                        this.$modal.show('success', { success: response.data.success })
                    })
                    .catch((error) => {
                        this.$modal.show('error', { error: error.response.data.errors })
                    })
            },

            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.submit()
                    }
                });
            },

            async submit() {
                let response = await this.$axios.patch('profile/update-personal', {
                    first_name: this.data.user.first_name,
                    last_name: this.data.user.last_name,
                    zip: this.data.user.zip,
                    country: this.data.user.country,
                    city: this.data.user.city,
                    street: this.data.user.street,
                    house: this.data.user.house,
                    apartment: this.data.user.apartment,
                }).then((response) => {
                    this.$modal.show('success', { success: response.data.success })
                }).catch((error) => {
                    this.$modal.show('error', { error: error.response.data.errors })
                })

            }
        },
        async asyncData ({ app }) {
            let data = await app.$axios.$get('auth/user')

            return {
                data: data
            }
        }
    }
</script>