<template>
    <div class="container" style="padding-top: 15px;">
        <div class="row">
            <div class="col-12">
                <nav class="c-tabs">
                    <AppSettingsTopNavigation></AppSettingsTopNavigation>

                    <div class="c-tabs__content tab-content">
                        <div class="c-tabs__pane active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="row">
                            <div class="col-12 col-sm-5 u-mb-xsmall">

                                <h4 class="u-text-small u-mb-small">Для прохождения процедуры верификации (KYC) Вам потребуется предоставить нам фотографию или скан любого официального документа: <b>удостоверения личности, паспорта или водительских прав и селфи с документом, удостоверяющим личность.</b></h4>
                                <p class="u-text-small u-mb-small"> На фотографии должно быть отчетливо видно Ваше лицо и Ваш документ.</p>
                                <button type="button" class="c-btn c-btn--secondary   " data-toggle="modal" data-target="#kyc">
                                    Зачем это нужно?
                                </button>
                                <button class="c-btn c-btn--info u-ml-small">Загрузить изображения</button>


                            </div>
                            <div class="col-12 col-sm-7 u-mb-xsmall">
                                <div class="c-alert c-alert--info alert u-mb-medium">
                                        <span class="c-alert__icon">
                                          <i class="feather icon-info"></i>
                                        </span>

                                    <div class="c-alert__content">
                                        <h4 class="c-alert__title">Требования к фотографиям</h4>

                                        <ul class="u-text-small u-mt-small">
                                            <li>- На фотографии должны быть видны все границы документа. </li>
                                            <li>- Текст документа должен быть без пересветов, пятен и легко читаться. Фотографии низкого качества не пройдут проверку. </li>
                                            <li>- Если Ваш документ располагается на двух страницах или на двух сторонах листа (например, удостоверение личности или паспорт), прикрепите обе стороны. </li>
                                            <li>- Документ должен быть действителен как минимум в течение месяца. Документ с истекшим сроком не будет принят. </li>
                                            <li>- Система не распознает документы, измененные с помощью графических редакторов. </li>
                                            <li>- Мы принимаем файлы формата JPEG или PDF не менее 500 кб. Предпочтительно, чтобы документ был на латинице. Система не распознает иероглифы и лигатуру.</li>
                                        </ul>
                                    </div>

                                    <button class="c-close" data-dismiss="alert" type="button">×</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    </div>

                </nav>
            </div>
        </div>
    </div>
</template>

<script>
    import AppSettingsTopNavigation from '@/components/nav/AppSettingsTopNavigation'

    export default {
        layout: 'app',
        components: {
            AppSettingsTopNavigation
        },
        data() {
            return {

            }
        }
    }
</script>