<template>
    <div class="container" style="padding-top: 15px;">
        <div class="row">
            <div class="col-12">
                <nav class="c-tabs">
                    <AppSettingsTopNavigation></AppSettingsTopNavigation>

                    <div class="c-tabs__content tab-content">
                        <div class="c-tabs__pane active" id="nav-security" role="tabpanel" aria-labelledby="nav-security-tab">
                            <div class="row">
                                <div class="col-lg-6 u-mb-xsmall">
                                    <h3 class="u-mb-small">Двухфакторная авторизация</h3>
                                    <p class="u-mb-small">Исключите возможность несанкционированного доступа к Вашим счетам и токенам, включив дополнительную проверку при авторизации.</p>
                                    <button class="c-btn c-btn--success u-mb-xsmall" @click.prevent="enableGoogle2FA">Активировать</button>
                                </div>
                                <div class="col-lg-6 u-mb-xsmall">
                                    <form>
                                        <h3 class="u-mb-small">Смена пароля</h3>
                                        <div class="c-field u-mb-xsmall">
                                            <label class="c-field__label" for="old_password">Старый пароль</label>
                                            <input
                                                    class="c-input"
                                                    type="password"
                                                    id="old_password"
                                                    name="old_password"
                                                    v-model="old_password"
                                                    v-validate="'required|min:8'">
                                            <small class="c-field__message u-color-danger" v-show="errors.has('old_password')"><i class="fa fa-times-circle"></i>{{ errors.first('old_password') }}</small>
                                        </div>

                                        <div class="c-field u-mb-small">
                                            <label class="c-field__label" for="password">Новый пароль</label>
                                            <input
                                                    class="c-input"
                                                    type="password"
                                                    id="password"
                                                    name="password"
                                                    v-model="password"
                                                    v-validate="'required|confirmed:password_confirm|min:8'">
                                            <small class="c-field__message u-color-danger" v-show="errors.has('password')"><i class="fa fa-times-circle"></i>{{ errors.first('password') }}</small>
                                        </div>

                                        <div class="c-field u-mb-small">
                                            <label class="c-field__label" for="confirm_password">Повторить новый пароль</label>
                                            <input
                                                    class="c-input"
                                                    type="password"
                                                    id="confirm_password"
                                                    ref="password_confirm"
                                                    name="password_confirm"
                                                    v-model="password_confirm"
                                                    v-validate="'required|min:8'">
                                            <small class="c-field__message u-color-danger" v-show="errors.has('password_confirm')"><i class="fa fa-times-circle"></i>{{ errors.first('password_confirm') }}</small>
                                        </div>
                                        <button class="c-btn c-btn--success u-mb-xsmall" @click.prevent="validateBeforeSubmit">Сменить пароль</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</template>

<script>
    import AppSettingsTopNavigation from '@/components/nav/AppSettingsTopNavigation'
    export default {
        layout: 'app',
        components: {
            AppSettingsTopNavigation
        },
        data() {
            return {
                old_password: null,
                password: null,
                password_confirm: null
            }
        },
        methods: {
            validateBeforeSubmit(){
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.submit()
                    }
                })
            },
            async submit() {
                let response = await this.$axios.post('profile/set-new-password', {
                    old_password: this.old_password,
                    new_password: this.password
                })
                    .then((response) => {
                        this.$modal.show('success', { success: response.data.success })
                    })
                    .catch((error) => {
                        this.$modal.show('error', { error: error.response.data.errors })
                    })
            },
            async enableGoogle2FA() {
                let data = await this.$axios.get('2fa/enable')
                    .then((response) => {
                        this.$modal.show('enable2fa', { url: response.data })
                    })
            }
        }
    }
</script>