<template>
    <div class="c-toolbar-responsive u-mb-medium">
        <div class="c-toolbar">
            <nav class="c-toolbar__nav u-mr-auto">
                <nuxt-link :to="({ name: 'history' })" class="c-toolbar__nav-link">Все</nuxt-link>
                <nuxt-link :to="({ name: 'history-buy' })" class="c-toolbar__nav-link">Покупки</nuxt-link>
                <nuxt-link :to="({ name: 'history-withdraw' })" class="c-toolbar__nav-link">Списания</nuxt-link>
                <nuxt-link :to="({ name: 'history-deposit' })" class="c-toolbar__nav-link">Пополнения</nuxt-link>
                <nuxt-link :to="({ name: 'history-bonuses' })" class="c-toolbar__nav-link">Бонусы</nuxt-link>
            </nav>
        </div>
    </div>
</template>