<template>
    <div class="c-toolbar-responsive u-mb-medium">
        <div class="c-toolbar">
            <nav class="c-toolbar__nav u-mr-auto">
                <nuxt-link :to="({ name: 'projects' })" class="c-toolbar__nav-link">Активные</nuxt-link>
                <nuxt-link :to="({ name: 'projects-completed' })" class="c-toolbar__nav-link">Завершенные</nuxt-link>
                <nuxt-link :to="({ name: 'projects-invested' })" class="c-toolbar__nav-link">Я инвестировал</nuxt-link>
                <nuxt-link :to="({ name: 'projects-bookmarks' })" class="c-toolbar__nav-link">Закладки</nuxt-link>
            </nav>
        </div>
    </div>
</template>