<template>
    <div class="c-tabs__list nav nav-tabs">
        <nuxt-link :to="({ name: 'settings' })" class="c-tabs__link">
            <span class="c-tabs__link-icon">
              <i class="feather icon-settings"></i>
            </span>Личная информация
        </nuxt-link>
        <nuxt-link :to="({ name: 'settings-kyc' })" class="c-tabs__link">
            <span class="c-tabs__link-icon">
              <i class="feather icon-sliders"></i>
            </span>Верификация (KYC)
        </nuxt-link>
        <nuxt-link :to="({ name: 'settings-security' })" class="c-tabs__link">
            <span class="c-tabs__link-icon">
              <i class="feather icon-sliders"></i>
            </span>Безопасность
        </nuxt-link>
    </div>
</template>

<script>

</script>